NumericValueToWord.Tests/Connected Services/ServiceReference/NumericValueToWord.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertNumericValueToWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dollarNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="centNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertNumericValueToWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertNumericValueToWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertNumericValueToWordSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertNumericValueToWord" />
  </wsdl:message>
  <wsdl:message name="ConvertNumericValueToWordSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertNumericValueToWordResponse" />
  </wsdl:message>
  <wsdl:portType name="NumericValueToWordSoap">
    <wsdl:operation name="ConvertNumericValueToWord">
      <wsdl:input message="tns:ConvertNumericValueToWordSoapIn" />
      <wsdl:output message="tns:ConvertNumericValueToWordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NumericValueToWordSoap" type="tns:NumericValueToWordSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertNumericValueToWord">
      <soap:operation soapAction="http://tempuri.org/ConvertNumericValueToWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NumericValueToWordSoap12" type="tns:NumericValueToWordSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertNumericValueToWord">
      <soap12:operation soapAction="http://tempuri.org/ConvertNumericValueToWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NumericValueToWord">
    <wsdl:port name="NumericValueToWordSoap" binding="tns:NumericValueToWordSoap">
      <soap:address location="http://localhost:49466/WebService/NumericValueToWord.asmx" />
    </wsdl:port>
    <wsdl:port name="NumericValueToWordSoap12" binding="tns:NumericValueToWordSoap12">
      <soap12:address location="http://localhost:49466/WebService/NumericValueToWord.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>